.hk-codeblock {
  & {
    // variables
    --hk-codeblock-margin: 1em;
    --hk-codeblock-horizontal-padding: 16px;
    --hk-codeblock-vertical-padding: 8px;
    --hk-codeblock-background-color: var(--code-background);
    --hk-codeblock-border-color: var(--divider-color); // applied to title, linenos, and result
    --hk-codeblock-font-size: var(--code-size);
    --hk-codeblock-title-text-color: var(--text-normal);
    --hk-codeblock-linenos-text-color: var(--code-normal);
    --hk-codeblock-linenos-text-font: var(--font-monospace);
    --hk-codeblock-language-text-color: var(--text-muted); // same with copy button
    --hk-codeblock-language-text-size: var(--font-ui-smaller); // same with copy button
    --hk-codeblock-language-text-font: var(--font-interface); // same with copy button
    --hk-codeblock-prompt-text-color: var(--code-normal);
    --hk-codeblock-prompt-text-font: var(--font-monospace);
    --hk-codeblock-result-text-color: var(--text-normal);
  }

  position: relative;
  margin-bottom: var(--hk-codeblock-margin);

  pre {
    position: relative;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: var(--hk-codeblock-vertical-padding);
    padding-bottom: var(--hk-codeblock-vertical-padding);
    padding-left: var(--hk-codeblock-horizontal-padding);
    padding-right: var(--hk-codeblock-horizontal-padding);
    background-color: var(--hk-codeblock-background-color);

    code.hk-codeblock-code {
      white-space: pre;
      overflow-x: auto;
      padding: 0;
      background-color: var(--hk-codeblock-background-color);
    }
  }
}

/* title */
.hk-codeblock.hk-codeblock-show-title {
  .hk-codeblock-title {
    padding-left: var(--hk-codeblock-horizontal-padding);
    padding-right: var(--hk-codeblock-horizontal-padding);
    padding-top: var(--hk-codeblock-vertical-padding);
    padding-bottom: var(--hk-codeblock-vertical-padding);
    background-color: var(--hk-codeblock-background-color);
    border-bottom: 1px solid var(--hk-codeblock-border-color);
    color: var(--hk-codeblock-title-text-color);

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hk-codeblock-title~pre {
    margin-top: 0;
  }
}

/* collapse */
.hk-codeblock.hk-codeblock-show-title.hk-codeblock-collapsible {
  .hk-codeblock-title {
    cursor: pointer;
    position: relative;

    .hk-codeblock-collapse-btns {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 2px;
      position: relative;
      top: -1px;
      left: -3px;

      .hk-codeblock-collapse-btn {
        width: 16px;
        height: 16px;

        fill: var(--hk-codeblock-title-text-color);
        stroke: var(--hk-codeblock-title-text-color);
        stroke-width: 2;
        opacity: 0.2;

        &.hk-codeblock-collapsed-btn {
          display: none;
        }

        &.hk-codeblock-expanded-btn {
          display: inline-block;
        }
      }
    }
  }

  &.hk-codeblock-collapsed {
    .hk-codeblock-title {
      border-bottom: none;

      .hk-codeblock-collapse-btns {
        .hk-codeblock-collapse-btn {
          &.hk-codeblock-collapsed-btn {
            display: inline-block;
          }

          &.hk-codeblock-expanded-btn {
            display: none;
          }
        }
      }
    }

    pre {
      display: none;
    }
  }
}

/* linenos */
.hk-codeblock.hk-codeblock-show-linenos {
  pre {
    .hk-codeblock-linenos {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: right;
      padding: 0;
      padding-right: 1em;
      opacity: 0.6;
      user-select: none;
      color: var(--hk-codeblock-linenos-text-color);
      white-space: pre;
      font-family: var(--hk-codeblock-linenos-text-font);
      font-size: var(--hk-codeblock-font-size);
      background-color: transparent;

      &.show-splitter {
        border-right: 1px solid var(--hk-codeblock-border-color);
        margin-right: 1em;
      }
    }
  }
}

/* highlight */
.hk-codeblock.hk-codeblock-show-highlight {
  pre {
    .hk-codeblock-highlight {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      user-select: none;
      padding-top: var(--hk-codeblock-vertical-padding);
      padding-bottom: var(--hk-codeblock-vertical-padding);
      opacity: 0.2;
      font-family: var(--hk-codeblock-linenos-text-font);
      font-size: var(--hk-codeblock-font-size);
      background-color: transparent;

      .line.highlight {
        background-color: var(--hk-codeblock-highlight-background-color);
      }
    }
  }
}

/* language */
.hk-codeblock.hk-codeblock-show-language {
  pre {
    .hk-codeblock-language {
      opacity: 0.4;
      user-select: none;
      z-index: 1;
      margin: 6px;
      padding: 6px 8px;
      background-color: transparent;
      box-shadow: none;
      color: var(--hk-codeblock-language-text-color);
      font-size: var(--hk-codeblock-language-text-size);
      font-family: var(--hk-codeblock-language-text-font);
      position: absolute;
      top: 0;
      right: 0;
    }

    &:hover .hk-codeblock-language {
      display: none;
    }
  }
}

/* copy button */
.hk-codeblock.hk-codeblock-show-copybtn {
  pre {
    .copy-code-button {
      cursor: pointer;
    }
  }
}

/* prompt */
.hk-codeblock.hk-codeblock-show-prompt {
  pre {
    .hk-codeblock-prompt {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: right;
      padding: 0;
      padding-right: 0.8em;
      opacity: 0.6;
      user-select: none;
      color: var(--hk-codeblock-prompt-text-color);
      white-space: pre;
      font-family: var(--hk-codeblock-prompt-text-font);
      font-size: var(--hk-codeblock-font-size);
      background-color: transparent;
    }
  }
}

/* result */
.hk-codeblock.hk-codeblock-result {
  margin-top: calc(var(--hk-codeblock-margin) * (-1));
  border-top: 1px solid var(--hk-codeblock-border-color);
  background-color: var(--hk-codeblock-background-color);

  .hk-codeblock-result-prompt {
    color: var(--hk-codeblock-result-text-color);
    opacity: 0.4;
    font-size: 0.8em;
    padding-top: var(--hk-codeblock-vertical-padding);
    padding-left: var(--hk-codeblock-horizontal-padding);
    padding-right: var(--hk-codeblock-horizontal-padding);
    user-select: none;
    pointer-events: none;
  }

  pre {
    margin-top: 0;

    .hk-codeblock-result-code {
      color: var(--hk-codeblock-result-text-color);
    }
  }
}