.hk-codeblock {
  & {
    // variables
    --hk-codeblock-margin: 1em;
    --hk-codeblock-horizontal-padding: 16px;
    --hk-codeblock-vertical-padding: 8px;
    --hk-codeblock-background-color: var(--code-background);
    --hk-codeblock-border-color: var(--divider-color); // applied to title, linenos, and result
    --hk-codeblock-font-family: var(--font-monospace);
    --hk-codeblock-font-size: var(--code-size);
    --hk-codeblock-text-color: var(--code-normal);

    --hk-codeblock-title-text-font: var(--hk-codeblock-font-family);
    --hk-codeblock-title-text-color: var(--hk-codeblock-text-color);
    --hk-codeblock-title-text-size: var(--hk-codeblock-font-size);

    --hk-codeblock-linenos-text-font: var(--hk-codeblock-font-family);
    --hk-codeblock-linenos-text-color: var(--hk-codeblock-text-color);
    --hk-codeblock-linenos-text-size: var(--hk-codeblock-font-size);

    --hk-codeblock-language-text-font: var(--hk-codeblock-font-family); 
    --hk-codeblock-language-text-color: var(--hk-codeblock-text-color); 
    --hk-codeblock-language-text-size: calc(var(--hk-codeblock-font-size) * 0.9);

    --hk-codeblock-copy-btn-text-font: var(--hk-codeblock-font-family);
    --hk-codeblock-copy-btn-text-color: var(--hk-codeblock-text-color);
    --hk-codeblock-copy-btn-text-size: calc(var(--hk-codeblock-font-size) * 0.9);

    --hk-codeblock-prompt-text-font: var(--hk-codeblock-font-family);
    --hk-codeblock-prompt-text-color: var(--hk-codeblock-text-color);
    --hk-codeblock-prompt-text-size: var(--hk-codeblock-font-size);

    --hk-codeblock-result-text-font: var(--hk-codeblock-font-family);
    --hk-codeblock-result-text-color: var(--hk-codeblock-text-color);
    --hk-codeblock-result-text-size: var(--hk-codeblock-font-size);
  }

  position: relative;

  margin: {
    top: var(--hk-codeblock-margin);
    bottom: var(--hk-codeblock-margin);
  }

  pre {
    position: relative;
    border-radius: initial;
    display: flex;
    flex-direction: row;
    margin: 0;
    min-height: 0;

    padding: {
      top: var(--hk-codeblock-vertical-padding);
      bottom: var(--hk-codeblock-vertical-padding);
      left: var(--hk-codeblock-horizontal-padding);
      right: var(--hk-codeblock-horizontal-padding);
    }

    background-color: var(--hk-codeblock-background-color);
    font-family: var(--hk-codeblock-font-family);
    color: var(--hk-codeblock-text-color);
    //font-size: var(--hk-codeblock-font-size); // if the size is provided with the em unit, this can cause text being too small

    code.hk-codeblock-code {
      white-space: pre;
      overflow-x: auto;
      padding: 0;
      background-color: var(--hk-codeblock-background-color);
      font-family: var(--hk-codeblock-font-family);
      color: var(--hk-codeblock-text-color);
      font-size: var(--hk-codeblock-font-size);
    }
  }
}

/* title */
.hk-codeblock.hk-codeblock-show-title {
  .hk-codeblock-title {
    padding: {
      top: var(--hk-codeblock-vertical-padding);
      bottom: var(--hk-codeblock-vertical-padding);
      left: var(--hk-codeblock-horizontal-padding);
      right: var(--hk-codeblock-horizontal-padding);
    }

    background-color: var(--hk-codeblock-background-color);
    border-bottom: 1px solid var(--hk-codeblock-border-color);
    font-family: var(--hk-codeblock-title-text-font);
    color: var(--hk-codeblock-title-text-color);
    font-size: var(--hk-codeblock-title-text-size);

    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hk-codeblock-title~pre {
    margin-top: 0;
  }
}

/* collapse */
.hk-codeblock.hk-codeblock-show-title.hk-codeblock-collapsible {
  .hk-codeblock-title {
    cursor: pointer;
    position: relative;

    .hk-codeblock-collapse-btns {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 2px;
      position: relative;
      top: -1px;
      left: -3px;

      .hk-codeblock-collapse-btn {
        width: var(--hk-codeblock-title-text-size);
        height: var(--hk-codeblock-title-text-size);

        fill: var(--hk-codeblock-title-text-color);
        stroke: var(--hk-codeblock-title-text-color);
        stroke-width: 2;
        opacity: 0.2;

        &.hk-codeblock-collapsed-btn {
          display: none;
        }

        &.hk-codeblock-expanded-btn {
          display: inline-block;
        }
      }
    }
  }

  &.hk-codeblock-collapsed {
    .hk-codeblock-title {
      border-bottom: none;

      .hk-codeblock-collapse-btns {
        .hk-codeblock-collapse-btn {
          &.hk-codeblock-collapsed-btn {
            display: inline-block;
          }

          &.hk-codeblock-expanded-btn {
            display: none;
          }
        }
      }
    }

    pre {
      display: none;
    }
  }
}

/* linenos */
.hk-codeblock.hk-codeblock-show-linenos {
  pre {
    .hk-codeblock-linenos {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: right;
      padding: 0;
      padding-right: 1em;
      opacity: 0.6;
      user-select: none;
      white-space: pre;
      font-family: var(--hk-codeblock-linenos-text-font);
      color: var(--hk-codeblock-linenos-text-color);
      font-size: var(--hk-codeblock-linenos-text-size);
      background-color: transparent;

      &.show-splitter {
        border-right: 1px solid var(--hk-codeblock-border-color);
        margin-right: 1em;
      }
    }
  }
}

/* highlight */
.hk-codeblock.hk-codeblock-show-highlight {
  pre {
    .hk-codeblock-highlight {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      user-select: none;

      padding: {
        top: var(--hk-codeblock-vertical-padding);
        bottom: var(--hk-codeblock-vertical-padding);
      }

      opacity: 0.2;
      font-family: var(--hk-codeblock-linenos-text-font);
      font-size: var(--hk-codeblock-linenos-text-font);
      color: var(--hk-codeblock-linenos-text-color);
      background-color: transparent;

      .line.highlight {
        background-color: var(--hk-codeblock-highlight-background-color);
      }
    }
  }
}

/* language */
.hk-codeblock.hk-codeblock-show-language {
  pre {
    .hk-codeblock-language {
      opacity: 0.4;
      user-select: none;
      z-index: 1;
      margin: 6px;

      padding: {
        top: 6px;
        bottom: 6px;
        left: 8px;
        right: 8px;
      }

      background-color: transparent;
      box-shadow: none;
      font-family: var(--hk-codeblock-language-text-font);
      color: var(--hk-codeblock-language-text-color);
      font-size: var(--hk-codeblock-language-text-size);
      position: absolute;
      top: 0;
      right: 0;
    }

    &:hover .hk-codeblock-language {
      display: none;
    }
  }
}

/* copy button */
.hk-codeblock.hk-codeblock-show-copybtn {
  pre {
    .copy-code-button {
      cursor: pointer;

      opacity: 0.4;
      user-select: none;
      z-index: 1;
      margin: 6px;

      padding: {
        top: 6px;
        bottom: 6px;
        left: 8px;
        right: 8px;
      }

      background-color: transparent;
      box-shadow: none;
      font-family: var(--hk-codeblock-code-block-text-font);
      color: var(--hk-codeblock-code-block-text-color);
      font-size: var(--hk-codeblock-code-block-text-size);
      position: absolute;
      top: 0;
      right: 0;

      &:hover {
        opacity: 1;
        background-color: #ffffff13;
      }

      &:active {
        opacity: 1;
        background-color: #ffffff26;
      }
    }
  }
}

/* prompt */
.hk-codeblock.hk-codeblock-show-prompt {
  pre {
    .hk-codeblock-prompt {
      flex-shrink: 0;
      flex-grow: 0;
      text-align: right;

      padding: {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0.8em;
      }

      opacity: 0.6;
      user-select: none;
      color: var(--hk-codeblock-prompt-text-color);
      white-space: pre;
      font-family: var(--hk-codeblock-prompt-text-font);
      font-size: var(--hk-codeblock-prompt-text-size);
      background-color: transparent;
    }
  }
}

/* result */
.hk-codeblock.hk-codeblock-result {
  margin-top: calc(var(--hk-codeblock-margin) * (-1));
  border-top: 1px solid var(--hk-codeblock-border-color);
  background-color: var(--hk-codeblock-background-color);

  .hk-codeblock-result-prompt {
    color: var(--hk-codeblock-result-text-color);
    opacity: 0.4;
    font-size: 0.8em;

    padding: {
      top: var(--hk-codeblock-vertical-padding);
      left: var(--hk-codeblock-horizontal-padding);
      right: var(--hk-codeblock-horizontal-padding);
    }

    user-select: none;
    pointer-events: none;
  }

  pre {
    margin-top: 0;

    .hk-codeblock-result-code {
      color: var(--hk-codeblock-result-text-color);
      font-family: var(--hk-codeblock-result-text-font);
      font-size: var(--hk-codeblock-result-text-size);
    }
  }
}